colorama==0.2.7
docutils==0.11
flake8==2.1.0
future==0.14.3
Jinja2==2.7.1
MarkupSafe==0.18
mccabe==0.2.1
mock==1.0.1
Paver==1.2.1
pep8==1.4.6
ply==3.4
py==1.4.19
pyflakes==0.7.3
Pygments==1.6
pytest==2.5.1
six==1.9.0
Sphinx==1.2
